body {
    margin: 0;
    font-family: sans-serif;
}
.b-form {
    display: block;
}
.row {
    display: block;
    position: relative;
    width: 8.5in;
    min-height: 7mm;
}
.form-field {
    display: inline-block;
    position: relative;
    font-size: 3mm;
}
.semester {
    font-weight: bold;
    margin-left: 5mm;
}
.month {
    left: 90mm;
}
.branch {
    left: 5mm;
    font-weight: bold;
}
.subject {
    left: 5mm;
    font-weight: bold;
}
.subject-code {
    left: 15mm;
    font-weight: bold;
}
.centre {
    left: 26mm;
    font-weight: bold;
}
.from-usn {
    left: 110mm;
}
.to-usn {
    left: 132mm;
}
.date {
    left: 25mm;
}
.from-time {
    left: 32mm;
}
.to-time {
    left: 170mm;
}
.row-usn {
    display: block;
    position: relative;
    top: 12mm;
    width: 8.5in;
    left: 10mm;
    min-height: 6.4mm;
}
@media print {
    .b-form {
        page-break-after: always;
    }
    
}
