body {
    margin: 0;
    font-family: sans-serif;
}
.b-form {
    display: block;
}
.row {
    display: block;
    position: relative;
    top: 24mm;
    width: 8.5in;
    min-height: 7mm;
}
.form-field {
    display: inline-block;
    position: relative;
    font-size: 3mm;
}
.semester {
    left: 111mm;
    font-weight: bold;
}
.month {
    left: 162mm;
    letter-spacing: 4mm;
}
.branch {
    left: 66mm;
    font-weight: bold;
}
.subject {
    left: 26mm;
    font-weight: bold;
}
.subject-code {
    left: 100mm;
    letter-spacing: 4mm;
    font-weight: bold;
}
.centre {
    left: 26mm;
    font-weight: bold;
}
.from-usn {
    left: 110mm;
}
.to-usn {
    left: 132mm;
}
.date {
    left: 26mm;
}
.from-time {
    left: 155mm;
}
.to-time {
    left: 170mm;
}
.row-usn {
    display: block;
    position: relative;
    top: 22mm;
    width: 8.5in;
    min-height: 6.4mm;
}
.usn {
    left: 16mm;
}
@page {
    margin: 0;
    size: 8.5in 11in;
}
@media print {
    .b-form {
        page-break-after: always;
    }
}
