.college-header {
    text-align: center;
}
.affiliation {
    text-align: center;
}
.form-header {
    margin-top: 20px;
    text-align: center;
}
form {
    padding-top: 20px;
}
.right {
    float: right;
}
.form-subheader {
    margin: 20px;
    text-align: center;
}
.center-align {
    width: 235px;
    display: block;
    margin: 0 auto;
}
.table-header {
    text-align: center;
    font-weight: 800;
    margin-top: 5px;
}
.year-row {
    margin-top: 5px;
}
.sub{

    padding-right:30px;
    padding-left:30px;
    color:white;


}
.sub a:link{
    color:white;
    text-decoration:none;
}
.sub .button{
    width:300px;
}
.subj .button{
    width:400px;
    text-align:center;
}
.subj a:link{
    color:white;
    text-decoration:none;
}
.head{
    padding-left:10%;
    padding-right:10%;
    font-size:20px;
    border:1px solid black;
    margin:8%;


}
.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:200;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#73adde;
    color:#fff;
    transition:all.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background:#0c58b9;
}
.button-block {
    margin: 20px auto;
    display: block;
    width: 25%;
}
.add, .delete {
    border:0;
    outline:none;
    border-radius: 5px;
    padding:15px;
    font-size:15px;
    font-weight:200;
    background:#73adde;
    color:#fff;
    transition:all .5s ease;
    -webkit-appearance: none;
}
button:disabled {
    background: #999;
}
#buttons {
    text-align: center;
}
.button-container {
    display: inline-block;
    margin: 10px auto;
}
input {
    width: 100%;
    max-width: 200px;
}
.left {
    float : left;
}
.right{
    float : right;
}

.upload{
    padding-left:40%;
}
.upfile{
    padding-left:15%;
    padding-right:15%;
}
